{% load staticfiles %}
<nav class="navbar navbar-default navbar-custom">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a class="icon-item"
                   href="{% url 'index' %}"><img src="{% static 'img/everpost.png' %}"/></a>
            </li>
            <li><a href="{% url 'index' %}">Everpost</a></li>
            <li><a href="{% url 'user_statistics_view' %}">Users</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'user_posts' pk=request.user.id %}">My posts</a></li>
                <li><a href="{% url 'post_add' %}">Add post</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li><a class="username-item" href="#">{{ request.user.username }} </a></li>
                <li>
                    <a href="{% url 'logout' %}?next=/">Log out</a>
                    {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
