{% extends 'base.html' %}

{% block js %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <form id="edit_form" method="POST" class="post_form" enctype="multipart/form-data">
        {% csrf_token %}
        {% if action == 'add' %}
            <h1>Add post</h1>
        {% else %}
            <h1>Edit post</h1>
        {% endif %}

        {{ form.as_p }}

        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    <script>
        $(function () {
            $('#edit_form textarea').prop('required', false);

            $("#edit_form button[type=submit]").click(function () {
                textEditor = nicEditors.findEditor('id_text');
                if (textEditor.getContent() != '<br>') {
                    $('#edit_form textarea').text(textEditor.getContent());
                    return true;
                }
                return false;
            });
        });
    </script>
{% endblock %}