{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div id="post-section" class="row">
        <div class="col-md-10 col-md-offset-1 post-main-panel">
            <h2>{{ post.title }} </h2>
            <div>
                <span>by </span>
                <a class="post_title"
                   href="{% url 'user_posts' pk=post.author.id %}">{{ post.author.username }}</a>
                {% if post.author == request.user %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.id %}">Edit</a>
                    <a class="btn btn-default" href="{% url 'post_delete' pk=post.id %}">Delete</a>
                {% endif %}
            </div>
            <div class="post-text">{{ post.text | safe }}</div>
        </div>
    </div>

    <div id="comments-section" class="row">
        <div class="col-md-5 col-md-offset-1">
            <h4>Comments</h4>
            <div id="no-comments-placeholder" class="invisible">No comments yet :(</div>
            <div id="comments-panel">
                <div id="comment-template" class="comment-panel">
                    <div class="author-reference">
                        <span> by </span>
                        <a class="author-link"></a>
                        <span> at </span>
                        <span class="comment-time"></span>
                        <button class="btn btn-default reply-button invisible">Reply</button>
                        <button class="btn btn-default delete-comment-button invisible">Delete</button>
                    </div>
                    <div class="parent-comment-reference"><span> as a reply to </span><a
                            class="parent-comment-link"></a></div>
                    <div class="comment-text"></div>
                </div>
            </div>
            <div class="loader centered"></div>
            <button class="btn btn-default load-more invisible centered">Load more</button>
        </div>

        <div id="new-comment-panel" class="col-md-5 invisible">
            <h4>New comment</h4>
            <div id="new-comment" class="comment-panel">
                <form id="new-comment-form" method="POST">
                    <div class="parent-comment-reference">
                        <span> as a reply to </span>
                        <a class="parent-comment-link"></a>
                        <span id="clear-reply-button" class="fa fa-window-close" aria-hidden="true"></span>
                    </div>
                    <textarea id="new-comment-text" title="Text" name="text" required></textarea>
                    <button type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        var Urls = {
            PK_MASK: '00000000',

            USER_POSTS: "{% url 'user_posts' pk='00000000'%}",
            COMMENTS_LIST: "{% url 'comments-list' %}",
            COMMENTS_DETAIL: "{% url 'comments-detail' pk='00000000'%}",
            MORE_COMMENTS: "{% url 'post_comments' post_pk=post.id %}"
        };

        CSRF_TOKEN = '{{ csrf_token }}';

        var postId = {{ post.id }};
        {% if request.user.is_authenticated %}
            var currentUserId = "{{ request.user.id }}";
        {% else %}
            var currentUserId = null;
        {% endif %}
    </script>
    <script src="{% static 'js/post_view.js' %}"></script>

{% endblock %}