{% extends 'base.html' %}

{% block content %}
    <h2>Posts</h2>

    <div class="post_list_section">
        {% if posts %}
            <ul class="list-group post_list">
                {% for post in posts %}
                    <li class="list-group-item">
                        <a class="post_title"
                           href="{% url 'post_view' pk=post.id %}"><span>{{ post.title }} </span></a>
                        <span class="post_create_time">{{ post.created_at }}</span>
                        <span class="post_create_time">{{ post.created_at }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div>Sorry, no posts found :(</div>
        {% endif %}
    </div>
{% endblock %}
