{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <h2>Recent posts</h2>

    <form id="date-select-form">
        <label for="date">Date: </label>
        <input class="input-date" type="text" id="date" placeholder="dd-mm-YYYY" required/>
        <button type="submit" class="save btn btn-default">Apply</button>
    </form>

    <div id="no-posts-placeholder" class="invisible">No posts :(</div>

    <div class="post_list_section">
        <ul class="invisible">
            <li id="post-template" class="list-group-item post-panel">
                <h5><a class="post-title"></a></h5>
                <span>by</span>
                <a class="author-link"></a>
                <span class="post-time"></span>
            </li>
        </ul>
        <ul id="posts-panel" class="list-group">

        </ul>
    </div>

    <div class="loader centered"></div>
    <button class="btn btn-default load-more invisible centered">Load more</button>

    <script>
        var Urls = {
            PK_MASK: '00000000',
            DATE_MASK: '00-00-0000',

            VIEW_POST: "{% url 'post_view' pk='00000000' %}",
            USER_POSTS: "{% url 'user_posts' pk='00000000' %}",
            MORE_POSTS_TEMPLATE: "{% url 'posts' date='00-00-0000'%}",
            MORE_POSTS: "{% url 'posts' date='00-00-0000'%}"
        };
    </script>
    <script src="{% static 'js/recent_posts.js' %}"></script>

{% endblock %}
