{% extends 'base.html' %}

{% load staticfiles %}

{% block js %}
    <script src="{% static 'js/chart.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <canvas id="userStatisticsChart"></canvas>
    </div>

    <script>
        var colors = ["#FF6384", "#4BC0C0", "#FFCE56", "#E7E9ED", "#36A2EB", "#580D98", "#E7914C",
            "#DDE7AE", "#68A73A", "#A120E6"];

        $(function () {

            $.get("{% url 'user_statistics' %}", function (data) {
                {#                var usernames = data.results.map(item => item.username);#}
                {#                var postCounts = data.results.map(item => item.count);          #}
                var usernames = data.results.map(item => item.username
                )
                ;
                var postCounts = data.results.map(item => item.count
                )
                ;

                var chartData = {
                    datasets: [{
                        data: postCounts,
                        backgroundColor: colors,
                        label: 'Number of posts'
                    }],
                    labels: usernames
                };

                var chartCanvas = $("#userStatisticsChart");
                var ctx = chartCanvas.get(0).getContext("2d");

                var chart = new Chart(ctx, {
                    type: 'pie',
                    data: chartData,
                    options: {
                        title: {
                            display: true,
                            text: 'User statistics'
                        },
                        responsive: true
                    }
                });

                chartCanvas.show();
            });

        });
    </script>
{% endblock %}
