{% extends 'base.html' %}

{% block content %}
    <h2>Posts of user {{ target_user.username }}</h2>

    <div class="post_list_section">
        {% if posts %}
            <ul class="list-group posts-panel">
                {% for post in posts %}
                    <li class="list-group-item post-panel">
                        <a href="{% url 'post_view' pk=post.id %}">
                            <span class="post-title">{{ post.title }} </span>
                        </a>
                        <span class="post-time">{{ post.created_at }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div>Sorry, no posts found :(</div>
        {% endif %}
    </div>
{% endblock %}
