{% extends 'base.html' %}

{% block content %}
    <h2>Posts of user {{ target_user.username }}</h2>

    <div class="post_list_section">
        {% if posts %}
            <ul class="list-group post_list">
                {% for post in posts %}
                    <li class="list-group-item">
                        <a href="{% url 'post_view' pk=post.id %}">
                            <span class="post_title" >{{ post.title }} </span>
                            <span class="post_create_time">{{ post.created_at }}</span></a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div>Sorry, no posts found :(</div>
        {% endif %}
    </div>
{% endblock %}
